* {
    margin: 0;
    box-sizing: border-box;
}

#page-top {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(#d4eed1,white);
}

header {
    width: 50%;
    padding: 2% 5%;
    padding-top: 3%;
    line-height: 190%;
}

@font-face {
    src: url("src/proximanovablack.otf");
    font-family: proximanovablack;
}

#sid {
    font-family: proximanovablack, sans-serif;
    font-size: calc(30px + 1vw);
    color: #366045;
}

@font-face {
    src: url("src/proximanovalight.otf");
    font-family: ProximaNovaLightRegular;
}
nav {
    align-self: center;
    text-align: right;
    padding: 2% 7%;
    width: 50%;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 0 4%;
    font-family: ProximaNovaLightRegular, sans-serif;
}

nav li a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    padding-top: 7%;
}

#infoContainer {
    width: 30%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    height: 60%;
}

#project-links {
    width: 70%;
    padding: 2% 0;
    margin: auto;
    margin-left: 30%;
}

img {
    max-width: 35%;
    padding: 1%;
}

img:hover {

}

.website-section {
    display: flex;
    flex-direction: row;
}

body {
    background-image: linear-gradient(white,white,white,white);
}

footer {
    background-color: #788c78;
    text-align: center;
    padding: 5% 0;
}